<!--
file:	binderTemplateEvaluator
author: Eric Jobes
date:	24 April 2016
desc:
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Binder</title>
    <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/table.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/alwaysOpenSidebar.css" rel="stylesheet">
    <script src="/javascript/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/javascript/alwaysOpenSidebar.js"></script>
</head>

<body>
<div id=navBar>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dynamicBinder">My Binders</a></li>
            <li><a href="/organizer">Organizer</a></li>
            <liCurrent><a href="/evaluation">Evaluation</a></liCurrent>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/logout"><%= user.username%>, Log Out</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</div>



<div id="contentAndSidebarRegion">
    <div id='cssMenu'>
        <ul>
            <li class='active has-sub'><a href='#'><span>Dean's Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="deansRecFileName" href="#">

                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 0){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>

                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Chair Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="chairRecFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 1){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Committee <br> Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="commRecFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 2){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Prior Letters & Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                               <table>
                                   <tbody>
                                   <tr>
                                       <td align="left" colspan="0">
                                           <a class="link-sidebar" id="priorLettersFileName" href="#">
                                               <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                   <% if(binderFiles[i].binder_Tab == 3){%>
                                                        <%= binderFiles[i].file_Name%>
                                                   <% } %>
                                               <!-- END OF Querying>-->
                                               <% } %>
                                           </a>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Self Eval & Personal Statement</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="selfEvalFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 4){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Current Resumé</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="resumeFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 5){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>List of Courses</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="listOfCoursesFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 6){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Professional Development Materials</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="proDevFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 7){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Letters</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="lettersFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 8){%>
                                                        <%= binderFiles[i].file_Name%>

                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Student Evaluations</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                               <table>
                                   <tbody>
                                   <tr>
                                       <td align="left" colspan="0">
                                           <a class="link-sidebar" id="studentEvalsFileName" href="#">
                                               <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                   <% if(binderFiles[i].binder_Tab == 9){%>
                                                        <%= binderFiles[i].file_Name%>
                                                   <% } %>
                                               <!-- END OF Querying>-->
                                               <% } %>
                                           </a>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>List of Supplemental Materials</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0">
                                            <a class="link-sidebar" id="supplementalMaterialsFileName" href="#">
                                                <% for(var i = binderFiles.length-1; i >=0 ; i--) { %>
                                                    <% if(binderFiles[i].binder_Tab == 10){%>
                                                        <%= binderFiles[i].file_Name%>
                                                    <% } %>
                                                <!-- END OF Querying>-->
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <div class="deansRec"      ></div>
    <div class="chairRec"      ></div>
    <div class="commRec"       ></div>
    <div class="priorLetters"  ></div>
    <div class="selfEval"      ></div>
    <div class="resume"        ></div>
    <div class="listOfCourses" ></div>
    <div class="proDevMats"    ></div>
    <div class="studentEvals"  ></div>
    <div class="suppMats"      ></div>

    <div id="contentPDFWithAnno0" class = "deansRec" style="display:none">
        <% tabToCheck = 0%>
        <% increment = 0%>
        <script>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 0){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno0").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>

    </div>
    <div id="contentPDFWithAnno1" class = "chairRec" style="display:none">
    <script>
        <% increment = 0%>
        <% for(var i = 0; i < binderFiles.length ; i++) { %>
            <% if(binderFiles[i].binder_Tab == 1){%>

                var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                var newSize = obtainedPDF.content.data.length;
                var byteHolder = new Uint8Array(newSize);
                for (var i = 0; i < newSize; i++) {
                    byteHolder[i] = obtainedPDF.content.data[i];
                }
                var bufferedHolder = byteHolder.buffer;
                var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                var urlForBlob = URL.createObjectURL(blobbyAttempt);
                document.getElementById("contentPDFWithAnno1").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                <% increment = increment + 1;%>
            <% } %>
        <% } %>
        <% tabToCheck = tabToCheck + increment%>
    </script>
</div>
    <div id="contentPDFWithAnno2" class = "commRec" style="display:none">
    <script>
        <% increment = 0%>
        <% for(var i = 0; i < binderFiles.length ; i++) { %>
            <% if(binderFiles[i].binder_Tab == 2){%>
                var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                var newSize = obtainedPDF.content.data.length;
                var byteHolder = new Uint8Array(newSize);
                for (var i = 0; i < newSize; i++) {
                    byteHolder[i] = obtainedPDF.content.data[i];
                }
                var bufferedHolder = byteHolder.buffer;
                var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                var urlForBlob = URL.createObjectURL(blobbyAttempt);
                document.getElementById("contentPDFWithAnno2").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                <% increment = increment + 1;%>
            <% } %>
        <% } %>
        <% tabToCheck = tabToCheck + increment%>
    </script>
</div>
    <div id="contentPDFWithAnno3" class = "priorLetters" style="display:none">
    <script>
        <% increment = 0%>
        <% for(var i = 0; i < binderFiles.length ; i++) { %>
            <% if(binderFiles[i].binder_Tab == 3){%>
                var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                var newSize = obtainedPDF.content.data.length;
                var byteHolder = new Uint8Array(newSize);
                for (var i = 0; i < newSize; i++) {
                    byteHolder[i] = obtainedPDF.content.data[i];
                }
                var bufferedHolder = byteHolder.buffer;
                var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                var urlForBlob = URL.createObjectURL(blobbyAttempt);
                document.getElementById("contentPDFWithAnno3").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                <% increment = increment + 1;%>
            <% } %>
        <% } %>
        <% tabToCheck = tabToCheck + increment%>
    </script>
</div>
    <div id="contentPDFWithAnno4" class = "selfEval" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 4){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno4").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno5" class = "resume" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 5){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno5").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno6" class = "listOfCourses" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 6){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno6").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno7" class = "proDevMats" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 7){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno7").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno8" class = "letters" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 8){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno8").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno9" class = "studentEvals" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 9){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno9").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>
    <div id="contentPDFWithAnno10" class = "suppMats" style="display:none">
        <script>
            <% increment = 0%>
            <% for(var i = 0; i < binderFiles.length ; i++) { %>
                <% if(binderFiles[i].binder_Tab == 10){%>
                    var obtainedPDF = JSON.parse('<%- JSON.stringify(binderFiles[tabToCheck]) %>');
                    var newSize = obtainedPDF.content.data.length;
                    var byteHolder = new Uint8Array(newSize);
                    for (var i = 0; i < newSize; i++) {
                        byteHolder[i] = obtainedPDF.content.data[i];
                    }
                    var bufferedHolder = byteHolder.buffer;
                    var blobbyAttempt = new Blob([bufferedHolder], {type : 'application/pdf'});
                    var urlForBlob = URL.createObjectURL(blobbyAttempt);
                    document.getElementById("contentPDFWithAnno10").innerHTML = "<iframe src='" + urlForBlob + "'></iframe>";
                    <% increment = increment + 1;%>
                <% } %>
            <% } %>
            <% tabToCheck = tabToCheck + increment%>
        </script>
    </div>


    <div id="contentAnnotation">
        <div id="actionsRegion">

            <textarea class="annotationSpace" id="annotationRegion" name="annotationContent" form="annoSubmit" placeholder="Enter annotations here..."></textarea>

            <form action="/submitAnnotation" style="padding-top:8px"method="post" class="formClass" id="annoSubmit">

                <input type="submit" value="SAVE" class="saveButton-annotation">
                <input id="binder_ID" name="binder_ID" hidden value=<%= binder_ID%>>
            </form>

            <script>
                var obtainedAnno = '<%- annotations %>';
                var finalAnno = '';
                var toConvertToLetter = '';
                for (var aOCC_i = 0; aOCC_i < (obtainedAnno.length / 2); aOCC_i++) {
                    toConvertToLetter = obtainedAnno[2*aOCC_i] + obtainedAnno[(2*aOCC_i)+1];
                    console.log(parseInt('0x' + toConvertToLetter));
                    finalAnno += String.fromCharCode(parseInt('0x' + toConvertToLetter));
                }
                document.getElementById("annotationRegion").value = finalAnno;
            </script>

        </div>
    </div>
    <div id="terminatorDiv">
    </div>

</div>


<!-- hide/show functions-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#deansRecFileName').click(function (e) {
            $('.deansRec').fadeToggle();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#chairRecFileName').click(function (e) {
            $('.chairRec').fadeToggle();
            $('.deansRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#commRecFileName').click(function (e) {
            $('.commRec').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#priorLettersFileName').click(function (e) {
            $('.priorLetters').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#selfEvalFileName').click(function (e) {
            $('.selfEval').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#resumeFileName').click(function (e) {
            $('.resume').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#listOfCoursesFileName').click(function (e) {
            $('.listOfCourses').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#proDevFileName').click(function (e) {
            $('.proDevMats').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#lettersFileName').click(function (e) {
            $('.letters').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.studentEvals').hide();
            $('.suppMats').hide();
        });
        $('#studentEvalsFileName').click(function (e) {
            $('.studentEvals').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.suppMats').hide();
        });
        $('#supplementalMaterialsFileName').click(function (e) {
            $('.suppMats').fadeToggle();
            $('.deansRec').hide();
            $('.chairRec').hide();
            $('.commRec').hide();
            $('.priorLetters').hide();
            $('.selfEval').hide();
            $('.resume').hide();
            $('.listOfCourses').hide();
            $('.proDevMats').hide();
            $('.letters').hide();
            $('.studentEvals').hide();
        });
    });

</script>
</body>
</html>